<!-- F.A.Q Group 2 -->
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Question la plus fréquemment posée.</h5>

      <div class="accordion accordion-flush" id="faq-group-2">

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1" type="button"
              data-bs-toggle="collapse" aria-expanded="false">
              Comment créer un nouveau membre?
            </button>
          </h2>
          <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2" style="">
            <div class="accordion-body">
                Pour créer ou ajouter un nouveau membre dans le cadre de l'organisation :<br>
                cliquez sur Organisation > Ajouter un nouveau membre
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-target="#faqsTwo-2" type="button"
              data-bs-toggle="collapse" aria-expanded="false">
              Comment supprimer un compte?
            </button>
          </h2>
          <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
            <div class="accordion-body">
                dans la barre latérale gauche, cliquez sur:<br>
                > organisation<br>
                > membres >
                > cliquez sur l'icône de la corbeille liée au profil que vous souhaitez supprimer....
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-target="#faqsTwo-3" type="button"
              data-bs-toggle="collapse" aria-expanded="false">
              Comment désactiver un compte?
            </button>
          </h2>
          <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
            <div class="accordion-body">
                Pour désactiver un compte, rendez-vous sur :<br>
                > Organisation<br>
                > Membres<br>
                > Cliquez sur l'icône d'engrenage liée au compte que vous souhaitez désactiver.<br>
                > Réglage<br>
                > cliquez sur Activer (bouton vert)
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-target="#faqsTwo-4" type="button"
              data-bs-toggle="collapse" aria-expanded="false">
              Comment un membre peut-il créer un compte ?
            </button>
          </h2>
          <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
            <div class="accordion-body">
                En tant que membre de l'organisation, pour créer un compte, le membre doit déjà être enregistré en tant que membre.
                et avant de créer un compte, l'un des administrateurs doit d'abord activer le profil, puis le membre peut créer un compte.
            </div>
          </div>
        </div>

      </div>

    </div>
  </div><!-- End F.A.Q Group 2 -->