<body id="dashboardBody">
    <!-- ======= Header ======= -->
    <app-top-bar></app-top-bar>
    <!-- ======= Sidebar ======= -->
    <app-left-side-bar></app-left-side-bar>
    
    <main id="main" class="main">
        <router-outlet></router-outlet>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <app-footer></app-footer>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

<!-- *ngIf="isValidAuthentication"-->